

.container-myproject {
    width: 100%;
    background-color: rgb(214, 223, 223);
    
}
.card-container {
    
    width: 30rem;
}

.card-image {
    width: 24rem;
    height: 20rem;
}
.container-myproject {
    width: 100%;
    
}
a img {
    width: 30px;
}
@media only screen and (max-width: 480px){
  
.container {
    
    height: 100%;
   
}
.wrapper-form {
    margin: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form {

    width: 100%;
    
}
.wrapper-upload {
    margin: 10px;
    text-align: center;
}
.wrapper-myproject {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 20px;
    height: 100%;
    width: 95%;
    padding: 0px;
    list-style: none;
    
}
}