@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Poppins:ital,wght@0,400;1,300;1,400&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
}


.navbar-brand img {
    height: 3rem;
    width: 3rem; 
    object-fit: contain;
    margin-left: 50px; 
}

.nav-item a:hover{
    background-color: #bbdeec;
    border-radius: 15px;
}


.container-date {
    width: 100%;
    height: 100px;
    margin-top: 0;
    
}

label {
    margin: 10px;
}

input {
    border-radius: 10px;
    border-style: none;
    height: 40px;
    margin: 10px;
  
}


.radio-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.upload-images {
    border-radius: 10px;
    display: flex;
    background-color: rgb(245, 253, 251);
    margin-bottom: 20px;
    margin-top: 10px;

}
.upload-images label {
    margin: 0;
    height: 45px;
}
.upload-images label p {
    background-color: rgb(178, 204, 212);
    padding: 10px;
    font-weight: bold;
    border-radius: 10px 0px 0px 10px;
}



