<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/detailProject.css">
    <title>My Project</title>
</head>
<body>
    <nav>
        <img src="/img/logo.png" alt="logo">
        <ul>
            <li>Home</li>
            <li>My Project</li>
        </ul>
          <a href="./contact.html">Contact</a>     
    </nav> 
    <div class="container">

    </div>
    <div class="jumbotron">
        
        <h1>{{.projects.Name}}</h1>
        <p>{{.projects.ID}}</p>
        <div class="picture">
            <img src="/uploads/{{.projects.Image}}" alt="coding">
        </div>
        <div class="duration">
            <div class="wrapper-info">
                <h3>Duration</h3>
                <div>
                    <img id="logo" src="/img/myProject/calendar-days-solid.svg" alt="calendar">
                    <span>Start :{{.projects.StartDate}}</span>
                </div>
                <div>
                    <img id="logo" src="/img/myProject/calendar-days-solid.svg" alt="calendar">
                    <span>End :{{.projects.EndDate}}</span>
                </div>
                <div>
                    <img id="logo" src="/img/myProject/clock-solid.svg" alt="clock">
                    <span>1 month</span>
                </div>

            </div>
        </div>
        <div class="teknologi">
            <div class="wrapper-info2">
                <h1 style="background-color: tomato;">hanya test</h1>
                <h3>Technologies</h3>
                <div class="images-logo">
                    {{ range $index, $dataa := .projects.DataTech}}
                    <a href="#" class="images-logo">

                     {{if eq $dataa "NodeJs"}}
                     <img src="/img/myProject/node-js.svg" alt="" srcset="">
                     
                      {{end}}

                     {{if eq $dataa "ReactJs"}}
                     <img src="/img/myProject/react.svg" alt="" srcset="">
                   
                     {{end}}

                     {{if eq $dataa "Javascript"}}
                     <img src="/img/myProject/js.svg" alt="" srcset="">
                    

                     {{end}}

                     {{if eq $dataa "Typescript"}}
                     <img src="/img/myProject/typescript.png" alt="" srcset="">
                    

                    {{end}}
                    </a>
                    {{end}}

                  </div>
                
            </div>
            
        </div>
        <article>
            <p>{{.projects.Textareas}}</p>
        </article>

    </div>
</body>
</html>