@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&family=Roboto:ital,wght@0,300;0,400;1,700&display=swap');

* {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: lightgray
}

nav {
    display: flex;
    justify-content: flex-start;
    background-color: #F4F3F3;
    padding: 10px;
    
}

nav img {
    height: 3rem; 
    margin-left: 50px;  
}

.nav-menu {
    display: flex;
}

.btnContactBurger{
    display: none;
}

nav ul li {
    display: flex;
    align-items: center;
    list-style: none; 
}
nav ul li:first-child {
    font-weight: bold;
}

nav ul li:hover {
    background-color: #bbdeec;
    cursor: pointer;
    border-radius: 20px;
}
nav ul li a {
    
    color: black;  
}
nav .btn-contact {
    padding: 8px;
   
    border-radius: 7px;
    color: aliceblue;
    background-color: black;
    margin: auto;
    margin-right: 20px;
}
.hamburgerMenu {
    display: none;
    cursor: pointer;
}

#hamburgerMenu-item {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
    
}
a{
    margin: 20px;
    text-decoration: none;
}

.container-testimoni {
   
    width: 100%;
    height: 100%;
}
.wrapper-testimoni {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50px;
}


.btn-rating {
    margin: 10px;
    padding: 5px 15px;
    border-radius: 10px;
    border-style: none;
    background-color: goldenrod;
    cursor: pointer;
}

/*
===========================
*/

.testimonial{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    list-style: none;
    padding: 0;
}

.testimonial-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25.5rem;
      margin: 15px;
      background-color: rgb(235, 237, 239);
      border: 2px solid gray;
      border-radius: 10px;
      
}
.wrapper-testimonial-item {
    
    position: relative;
    margin: 10px;
    text-align: center;
}

.wrapper-testimonial-item img {
    width: 24rem;
    height: 15rem;
    object-fit: cover;
    margin: 0px
}

.item-rating {
    position: absolute;
    top: 10px;
    margin: 0px;
    background-color: goldenrod;
    padding: 10px;
    border-radius: 10px;
}

.item-comment {
    padding: 20px;
}



@media only screen and (max-width: 480px) {
      /*
    navbar responsive
    */
nav {
    align-items: center;
    justify-content: space-between;
}
nav img {
    margin-left: 10px;
}

.btn-contact {
    display: none;
}
.btnContactBurger {
    display: inline;
}
.hamburgerMenu {
    display: block;
    cursor: pointer;
}
.hamburgerMenu.active #hamburgerMenu-item:nth-child(2){
    opacity: 0;
}
.hamburgerMenu.active #hamburgerMenu-item:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}
.hamburgerMenu.active #hamburgerMenu-item:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}

.nav-menu {
    position: fixed;
    width: 100%;
    left: 100%;
    top: 70px;
    flex-direction: column;
    transition: 0.3s;
    background-color: #F4F3F3;
    
}


.nav-menu.active {
    width: 100%;
    left: 0;
}

.testimonial-item {
    width: 100%;
}

.wrapper-testimonial-item {
    width: 95%;
    
}

.wrapper-testimonial-item img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    margin: 0px
}

}